@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Playfair Display", sans-serif;
}

:root {
  --primary-color: #fff;
  --secondary-color: #2e2525;
  --tertiary-color: #555454;
  --add-bg: #dad5d58e;
}

.dark-theme {
  --primary-color: #000106;
  --secondary-color: #ebe8e8;
  --tertiary-color: #a3a1a1;
  --add-bg: #ffffffbb;
}

body::-webkit-scrollbar {
  display: none;
}

.main-container {
  position: relative;
  background-color: var(--primary-color);
}
.main-container .navbar {
  display: flex;
  justify-content: space-between;
  padding: 17px 70px;
}
.main-container .navbar .logo a {
  font-size: 25px;
  font-weight: bolder;
  color: #4d5dec;
}
.main-container .navbar .searchbx {
  display: flex;
  flex-direction: row;
  gap: 0px;
}
.main-container .navbar .searchbx input {
  width: 100%;
  width: 350px;
  border: 1px solid #868181;
  font-size: 15px;
  padding: 0px 10px;
  outline: none;
}
.main-container .navbar .searchbx i {
  font-size: 25px;
  background: rgba(77, 93, 236, 0.5254901961);
  padding: 6px;
}
.main-container .navbar .menus i {
  font-size: 30px;
}
.main-container .navbar .signup button {
  padding: 8px 20px;
  color: white;
  font-size: 15px;
  background: #4d5dec;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
.main-container .container {
  width: 100vw;
  height: 88vh;
  display: flex;
}
.main-container .container .left-sidebar {
  width: 18vw;
  height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  padding: 25px;
}
.main-container .container .left-sidebar .add {
  background: var(--add-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  max-width: 130px;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.main-container .container .left-sidebar .add h4 {
  font-size: 15px;
  font-weight: 700;
  color: calc(infinity);
}
.main-container .container .left-sidebar .add i {
  font-size: 40px;
  color: #4d5dec;
}
.main-container .container .left-sidebar .options {
  display: flex;
  flex-direction: row;
  min-width: 130px;
  gap: 15px;
  padding: 8px 10px;
  cursor: pointer;
}
.main-container .container .left-sidebar .options i {
  font-size: 20px;
  color: var(--tertiary-color);
}
.main-container .container .left-sidebar .options h4 {
  font-size: 15px;
  color: var(--tertiary-color);
  font-weight: 700;
}
.main-container .container .left-sidebar .imgbx {
  width: 200px;
  margin-left: -17px;
}
.main-container .container .left-sidebar .imgbx img {
  width: 100%;
}
.main-container .container .left-sidebar .btn {
  width: 120px;
  margin-top: -10px;
  display: flex;
  justify-content: center;
}
.main-container .container .left-sidebar .btn button {
  padding: 8px 16px;
  background: #4d5dec;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
}
.main-container .container .right-sidebar {
  width: 82vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-container .container .right-sidebar .banner-content {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.main-container .container .right-sidebar .banner-content .banner {
  background: rgba(77, 93, 236, 0.3215686275);
  width: 45vw;
  max-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 22px;
  margin: 20px 0px 0px 10px;
  border-radius: 10px;
}
.main-container .container .right-sidebar .banner-content .banner .contentbx h4 {
  font-size: 17px;
  color: var(--secondary-color);
  font-weight: 700;
  margin-bottom: 10px;
}
.main-container .container .right-sidebar .banner-content .banner .contentbx p {
  font-size: 15px;
  color: var(--tertiary-color);
  font-weight: 500;
}
.main-container .container .right-sidebar .banner-content .banner .imgbx {
  width: 250px;
}
.main-container .container .right-sidebar .banner-content .banner .imgbx img {
  width: 100%;
}
.main-container .container .right-sidebar .banner-content .progress {
  width: 32vw;
  background: rgba(77, 236, 162, 0.3882352941);
  max-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 22px;
  margin: 20px 0px 0px 10px;
  border-radius: 10px;
}
.main-container .container .right-sidebar .notebx {
  width: 81vw;
  height: 64vh;
}
.main-container .container .right-sidebar .notebx .cardbx {
  display: flex;
  padding: 10px 10px;
  flex-wrap: wrap;
  gap: 10px;
}
.main-container .container .right-sidebar .notebx .cardbx .card {
  position: relative;
}
.main-container .container .right-sidebar .notebx .cardbx .card textarea {
  min-width: 260px;
  min-height: 220px;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  background: rgba(173, 173, 173, 0.3411764706);
  border: none;
  color: #2e2525;
}
.main-container .container .right-sidebar .notebx .cardbx .card #delete {
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 20px;
  color: #555454;
}
.main-container .container .right-sidebar .notebx .cardbx .card #edit {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 20px;
  color: #555454;
}
.main-container .signupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(77, 93, 236, 0.4196078431);
  width: 100vw;
  height: 100vh;
  border-radius: 10px;
  z-index: 1;
  display: none;
}
.main-container .signupContainer form {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #fff;
  position: relative;
}
.main-container .signupContainer form #formClose {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  color: rgba(255, 0, 0, 0.753);
}
.main-container .signupContainer form h4 {
  padding: 10px;
  font-size: 20px;
  color: #4d5dec;
  font-weight: 700;
  margin-top: -10px;
}
.main-container .signupContainer form input {
  max-width: 100%;
  padding: 8px 50px;
  outline: none;
  font-size: 14px;
}
.main-container .signupContainer form input::-moz-placeholder {
  color: #2e2525;
  opacity: 1;
}
.main-container .signupContainer form input::placeholder {
  color: #2e2525;
  opacity: 1;
}
.main-container .signupContainer form .btns button {
  padding: 10px 45px;
  border-radius: 5px;
  border: none;
  background: #4d5dec;
  color: #fff;
}
.main-container .signupContainer form p {
  font-size: 12px;
  margin-top: 10px;
}
.main-container .signupContainer form p a {
  color: #4d5dec;
  font-weight: 700;
}
.main-container .calendar {
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container .calendar .calendar-container {
  max-width: 350px;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
}
.main-container .calendar .calendar-container .calendar-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-container .calendar .calendar-container .calendar-heading h4 {
  text-align: center;
  font-size: 20px;
}
.main-container .calendar .calendar-container .calendar-section ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.main-container .calendar .calendar-container .calendar-section ul li {
  width: 14.2857142857%;
  margin-top: 25px;
  position: relative;
  z-index: 2;
}/*# sourceMappingURL=style.css.map */