@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Playfair Display", sans-serif;
}

:root {
  --primary-color: #fff;
  --secondary-color: #2e2525;
  --tertiary-color: #555454;
  --add-bg: #dad5d58e;
}

.dark-theme {
  --primary-color: #000106;
  --secondary-color: #ebe8e8;
  --tertiary-color: #a3a1a1;
  --add-bg: #ffffffbb;
}

body::-webkit-scrollbar {
  display: none;
}

.main-container {
  position: relative;
  background-color: var(--primary-color);

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 17px 70px;

    .logo {
      a {
        font-size: 25px;
        font-weight: bolder;
        color: #4d5dec;
      }
    }

    .searchbx {
      display: flex;
      flex-direction: row;
      gap: 0px;

      input {
        width: 100%;
        width: 350px;
        border: 1px solid #868181;
        font-size: 15px;
        padding: 0px 10px;
        outline: none;
      }

      i {
        font-size: 25px;
        background: #4d5dec86;
        padding: 6px;
      }
    }



    .authentication {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

        #mode {
      i {
        font-size: 30px;

      }
    }

      button {
        padding: 8px 20px;
        color: #ffff;
        font-size: 15px;
        background: #4d5dec;
        border: none;
        border-radius: 5px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }

  .container {
    width: 100vw;
    height: 88vh;
    display: flex;

    .left-sidebar {
      width: 18vw;
      height: 88vh;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 15px;
      padding: 25px;

      .add {
        background: var(--add-bg);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0px;
        max-width: 130px;
        padding: 10px 10px;
        border-radius: 10px;
        cursor: pointer;

        .create-note-options{
          position: absolute;
          background: #868181;
          color: #ffff;
          top: 135px;
          left: 100px;
          z-index: 10;
          padding: 10px 20px;
          font-size: 15px;
          display: none;

          ul{
            list-style: none;

            li{
              padding: 7px;
            }

            li:hover{
              background:#fff;
              color: #000106;
            }
          }
        }

        h4 {
          font-size: 15px;
          font-weight: 700;
          color: 2e2525;
        }

        i {
          font-size: 40px;
          color: #4d5dec;
        }
      }

      .options {
        display: flex;
        flex-direction: row;
        min-width: 130px;
        gap: 15px;
        padding: 8px 10px;
        cursor: pointer;

        i {
          font-size: 20px;
          color: var(--tertiary-color);
        }

        h4 {
          font-size: 15px;
          color: var(--tertiary-color);
          font-weight: 700;
        }
      }

      .imgbx {
        width: 200px;
        margin-left: -17px;

        img {
          width: 100%;
        }
      }

      .btn {
        width: 120px;
        margin-top: -10px;
        display: flex;
        justify-content: center;

        button {
          padding: 8px 16px;
          background: #4d5dec;
          border-radius: 8px;
          border: none;
          color: #ffff;
          font-size: 15px;
          font-weight: 500;
        }
      }
    }

    .right-sidebar {
      width: 82vw;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .banner-content {
        display: flex;
        flex-direction: row;
        justify-content: start;

        .banner {
          background: #4d5dec52;
          width: 45vw;
          max-height: 20vh;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 15px 22px;
          margin: 20px 0px 0px 10px;
          border-radius: 10px;

          .contentbx {
            h4 {
              font-size: 17px;
              color: var(--secondary-color);
              font-weight: 700;
              margin-bottom: 10px;
            }

            p {
              font-size: 15px;
              color: var(--tertiary-color);
              font-weight: 500;
            }
          }

          .imgbx {
            width: 250px;

            img {
              width: 100%;
            }
          }
        }
        .progress {
          width: 32vw;
          background: #4deca263;
          max-height: 20vh;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 15px 22px;
          margin: 20px 0px 0px 10px;
          border-radius: 10px;
        }
      }

      .notebx {
        width: 81vw;
        height: 64vh;

        .cardbx {
          display: flex;
          padding: 10px 10px;
          flex-wrap: wrap;
          gap: 10px;

          .card {
            position: relative;

            textarea {
              min-width: 260px;
              min-height: 220px;
              font-size: 15px;
              padding: 10px;
              border-radius: 10px;
              outline: none;
              background: #adadad57;
              border: none;
              color: #2e2525;
            }

            #delete {
              position: absolute;
              bottom: 8px;
              right: 8px;
              font-size: 20px;
              color: #555454;
            }

            #edit {
              position: absolute;
              bottom: 10px;
              left: 10px;
              font-size: 20px;
              color: #555454;
            }
          }
        }
      }
    }
  }

  .signupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    // top: 20%;
    // left: 35%;
    top: 0;
    left: 0;
    background: #4d5dec6b;
    width: 100vw;
    height: 100vh;
    border-radius: 10px;
    z-index: 1;
    display: none;

    form {
      padding: 40px 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      background: #fff;
      position: relative;

      #formClose {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 20px;
        color: rgba(255, 0, 0, 0.753);
      }

      h4 {
        padding: 10px;
        font-size: 20px;
        color: #4d5dec;
        font-weight: 700;
        margin-top: -10px;
      }

      input {
        max-width: 100%;
        padding: 8px 50px;
        outline: none;
        font-size: 14px;

        &::placeholder {
          color: #2e2525;
          opacity: 1;
        }
      }

      .btns {
        button {
          padding: 10px 45px;
          border-radius: 5px;
          border: none;
          background: #4d5dec;
          color: #fff;
        }
      }

      p {
        font-size: 12px;
        margin-top: 10px;

        a {
          color: #4d5dec;
          font-weight: 700;
        }
      }
    }
  }

  // .calendar {
  //   background: red;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  //   .calendar-container {
  //     max-width: 350px;
  //     padding: 10px;
  //     background: #fff;
  //     border-radius: 10px;

  //     .calendar-heading {
  //       display: flex;
  //       flex-direction: row;
  //       justify-content: space-between;

  //       h4 {
  //         text-align: center;
  //         font-size: 20px;
  //       }
       
  //     }

  //     .calendar-section {
  //       ul {
  //         list-style: none;
  //         display: flex;
  //         flex-wrap: wrap;
  //         text-align: center;

  //         li {
  //           width: calc(100% / 7);
  //           margin-top: 25px;
  //           position: relative;
  //           z-index: 2;
  //         }
  //       }
  //     }
  //   }
  // }
}
